<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Maps</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map-viewer.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/initMap.js"></script>
  </head>
  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <h2><%= map.title %></h2>


    <div class="container">

      <div id="map-viewport"></div>

      <div class="options">
        <button class="addLoc" data-placement="top" title="Add a Location!">
          Contribute
        </button>
        <button class="favMap" data-placement="top" title="Add Map to Favourites!">
          <i class="fa fa-heart"></i>
        </button>

      </div>


      <div id="addLocation">
        <form method="POST" action="/maps/<%= map.id %>/edit">
          <label for="address">Address/Location</label>
          <input id="location" name="address" type="text">
          <label for="markerTitle">Title</label>
          <input name="markerTitle">
          <label for="markerDesc">Description</label>
          <textarea name="markerDesc"></textarea>
          <button class="btn btn-primary">Add Location</button>
        </form>
      </div>

      <aside>
        <table class="table">
          <tbody>
            <% for (const point of points) { %>
            <tr>
              <td>
                <div class="marker-info">
                  <img src="<%= point.image %>" />
                  <h4><%= point.title %></h4>
                </div>
                <p><%= point.address %></p>
                <small><%= point.descr %></small>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </aside>

    </div>
    <p id="mapID"><%= map.id %></p>
    <p id="userName"><%= user %></p>
    <p id="userID"><%= userID %></p>

    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap">
    </script>
  </body>
</html>
