<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Maps</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/maps.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/favourite.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>


    <h1>Recent Maps</h1>

    <main class="show-maps">
      <section id="map-container">
        <table class="table">
          <tbody>
            <% for (const map of maps) { %>
            <tr>
              <td>
                <div class="map-info">
                  <img src="<%= map.map_image_url %>" />
                  <h2>
                    <a href="/maps/<%= map.id %>"><%= map.title %></a> by
                    <a href="/maps"><%= map.name %></a>
                  </h2>
                </div>
                <button class="favMap" data-placement="top" title="Add Map to Favourites!">
                  <i class="fa fa-heart"></i>
                </button>
                <p><%= map.description %></p>
                <small><%= map.category %></small>
                <small class='mapID'><%= map.id %></small>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
