<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiMap - New</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/users.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <main>
      <div class="owners-maps-container">
        <% for (const row of rows) { %>
          <div class="owners-map">
            <img src="<%= row.map_image_url %>" alt="<%= row.title %>" class="owners-map-img">
            <div class="owners-map-content">
              <%= row.title %>
              <%= row.description %>
              <%= row.category %>
            </div>
            <div>
              <a class="btn btn-primary" href="/maps/<%= row.id %>">Edit</a>
              <form action="">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
          <% } %>
        </div>

    </main>

  </body>
</html>
