<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiMap - New</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/users.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main>
      <div class="profile-maps-container">
        <section>
          <header>
            <h1>My Maps</h1>
            <h1>My Contributions</h1>
          </header>
        </section>
        <div id="my-maps">
          <% for (const ownerMap of ownerMaps) { %>
            <div class="profile-map">
              <img src="<%= ownerMap.map_image_url %>" alt="<%= ownerMap.title %>" class="profile-map-img">
              <div class="profile-map-content">
                <%= ownerMap.title %>
                <%= ownerMap.description %>
                <%= ownerMap.category %>
              </div>
              <div>
                <a class="btn btn-primary" href="/maps/<%= ownerMap.id %>">View</a>
                <form action="">
                  <button class="btn btn-danger" id="map-delete">Delete</button>
                </form>
              </div>
            </div>
          <% } %>
        </div>
        <div id="map-contributions">
          <% for (const contributionMap of contributionMaps) { %>
            <div class="profile-map">
              <img src="<%= contributionMap.map_image %>" alt="<%= contributionMap.title %>" class="profile-map-img">
              <div class="profile-map-content">
                <%= contributionMap.title %>
                <%= contributionMap.description %>
                <%= contributionMap.category %>
              </div>
              <div>
                <a class="btn btn-primary" href="/maps/<%= contributionMap.id %>">View</a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
